@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  font-family: 'Encode Sans Extended', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

@layer base {
  .nav {
    @apply h-20 bg-black sticky z-10 flex items-center justify-center top-0;
  }

  .nav-container {
    @apply h-20 max-w-6xl flex justify-between items-center w-full px-8;
  }
}
